div{
	height: 60px;
	width: 200px;
	margin: 20px 20px 80px 200px;
	border:7px solid #FF4136;
	background-color: #FF4136;
	float: left;
}


body{
font-family: Roboto;
background: #2C3E50; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
 }
 .show{
    background-color: #FFFFFF;
}
a{
	color: white;
}